// Search Block
form#search-block-form {
  margin: .5em 1em 1em 1em;
  input {
    border: 0;
    margin: 0;
    &[type="search"] {
      border-radius: 1rem 0 0 1rem;
      padding: 0 1rem;
      float:left;
      width: 70%;
    }
    &[type="submit"] {
      padding: 3px 0;
      border-radius: 0 1rem 1rem 0;
      width: 30%;
    }
  }
}
