/**
 * @file
 * This file is used to style the footer.
 *
 * It styles the footer as a global component; it does not style individual
 * footer items, such as a menu, which are styled by their own CSS files.
 */

.footer {
  padding: 2rem 1rem;
  text-align: center;
  /* font-size: 0.9rem; */
}

.region-footer > div {
  flex-basis: 30%;
}
@media screen and (min-width: 60rem) {
  .footer {
    padding: 1rem 1rem 0;
    text-align: left; /* LTR */
  }
  [dir="rtl"] .footer {
    text-align: right;
  }
  .region-footer {
    display: flex;
    justify-content: space-between;
  }
}

.footer a {
  color: #f6b241;
  background-color: inherit;
  font-weight: 400;
}

.footer a:active,
.footer a:focus,
.footer a:hover {
  color: #fff;
  background-color: #f6b241;
}
