/**
 * @file
 * This file is used to style fields.
 */

.field--label-inline.field {
  display: flex;
  flex-wrap: wrap;
}

.field--label-inline .field__label,
.field--label-inline .field__items {
  /* Undo use of floats by classy, switch to flexbox */
  float: none;
}

.view-mode-term-logo {
  display: flex;
  align-items: flex-end;
}
.view-mode-term-logo h5 {
  margin: 0 0 .8rem .6rem;
}
.view-mode-term-logo .content {
  order: -1;
}
