/* Theme for the header region */
.header-wrap {
  position:relative;
  z-index: 2;
  border-bottom:1px solid $primary-color;
  //margin-top: 2rem;
  background-color: $primary-color;
  #block-mtm-foundation-branding, #block-brandingfront {
    float: left;
    position: absolute;
    background:white;
    border-radius: 0 0 20% 20%;
    border: 2px solid $primary-color;
    border-top: 0;
    img {
      padding: 1em 0;
    }
  }
  #block-brandingfront {
    img {
      padding: .5em 0;
    }
    @media #{$medium-only},#{$small-only} {
      &.column {
        padding: 0 .3rem;
      }
    }
  }
  #block-mtm-foundation-branding {
    img {
      padding: .5em 0;
    }
    @media #{$medium-only},#{$small-only} {
      &.column {
        padding: 0 .3rem;
      }
    }
  }
  #block-mtm-foundation-main-menu {
    .menu-wrap {
      ul {
        //text-align: center;
        padding-top: rem-calc(30px);
        li {
          display: inline-block;
          padding-right: rem-calc(20px);
          &.main-menu-logo {
            a:hover {
              border-bottom:none;
              color:transparent;
            }
            img {
              position: relative;
              margin-top: -6rem;
              margin-bottom: -6rem;
              width: 12em;
              background: $background-color;
              border-radius: 30%;
              border: 4px double $primary-color;
            }
          }
          @media #{$medium-only},#{$small-only} {
            padding-right: rem-calc(10px);
          }
          a {
            text-transform: uppercase;
            color: $background-color;
            &.is-active, &:hover {
              color:$primary-alt-color;
              border-bottom:1px solid $primary-alt-color;
            }
          }
          &.main-menu-logo {
            @media #{$medium-only},#{$small-only} {
              float: left;
              padding-bottom: rem-calc(20px);
            }
          }
          &.menu-item {
            padding-top: rem-calc(20px);
            @media #{$small-only} {
              display: none;
            }
            &:hover {
              background-color: transparent;
            }
          }
        }
      }
    }
    .menu-mobile-wrap {
      display: none;
      float: right;
      @media #{$small-only} {
        display: block;
      }
      .main-menu-logo {
        display: none;
      }
      .menu-icon {
        color: $background_color;
        font-size: rem-calc(20px);
      }
    }
  }
}

/* Theme for the meta region */
.meta-wrap {
  display:none;
  height: 4rem;
    max-width: none;
    margin: 0;
    background-color: $primary-alt-color;
    padding: rem-calc(10px);
    a {
      color: $white;
    }
    .meta-login {
        .account-link {
            &:before {
                background-image: url(../images/user.svg);
                background-size: 20px;
                width: 20px;
                height: 20px;
                content: "";
                position: absolute;
                left: -10px;
                top: 1px;
            }
        }
        a {
            padding-right: rem-calc(10px);
        }
        .language-link {
            &:after {
                @include css-triangle(5px, #fff, top);
                display: inline-block;
                margin-left: 5px;
            }
        }
    }
}
#menu-mobile {
  ul {margin-left: 0;}
      li {
      list-style: none;
    }
}
