@media all and (min-width: 360px) {
  .figure img {
    width: 100%;
    max-width: none;
  }
  #search-block-form input[type="submit"] .form-submit {
  //  width: 25%;
  }
  #search-block-form .form-text {
  //  width: 75%;
  }
}

@media all and (min-width: 570px) {
  #search-block-form {
    .form-submit {
      width: 20%;
    }
    .form-text {
      width: 80%;
    }
  }
  textarea, select {
    width: auto;
  }
  input {
    &[type="email"], &[type="password"], &[type="search"], &[type="text"] {
      width: auto;
    }
    &[type="reset"], &[type="submit"], &[type="button"] {
      width: auto;
    }
  }
  button, a.button {
    width: auto;
  }
}

/* Add responsive styles for overall site */
@media all and (min-width: 736px) {
  ul, ol {
  //  margin-left: 3em;
  }
}

@media all and (min-width: 1000px) {
}
@media #{$small-up} {
  .article-feed-item {
    min-height: 3em;
  }}
@media #{$small-only} {
  #block-mtm-foundation-main-menu {
    .menu-wrap {display:none;}
  }
  header#page-header {
    height: 3rem;
    &:before {
      height: 3rem;
    }
  }
  h1#site-name {
    font-size: 2em;
  }
  h3#site-slogan {
    font-size: .7em;
    line-height: 1.2em;
  }
  #footer-first {
    &:before {
      border-radius: 1rem 1rem 0 0;
    }
  }
  #footer-last {
    &:before {
      border-radius: 0;
    }
  }
}

@media #{$medium-up} { }
@media #{$medium-only} {
  h1#site-name {
    font-size: 4em;
  }
  h3#site-slogan {font-size: 1em;}
}

@media #{$large-up} {
  .article-feed-item {
    min-height: 6em;
  }}
@media #{$large-only} {
}

@media #{$xlarge-up} { }
@media #{$xlarge-only} { }

@media #{$xxlarge-up} { }
@media #{$xxlarge-only} { }
