// Search Block
form#search-block-form--2 {
  margin: .5em 0 1em;
  input {
    border: 0;
    margin: 0;
    &[type="search"] {
      border-radius: 1rem 0 0 1rem;
      padding: 0 1rem;
      float:left;
      width: 70%;
    }
    &[type="submit"] {
      padding: 3px 0;
      border-radius: 0 1rem 1rem 0;
      width: 30%;
    }
  }
}
.block-deip-foundation-powered {
  position: relative;
    span {
    padding-left: 2em;
    &:before {
      background-image: url(../images/d8-item.svg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100% auto;
      content: '';
      height: 100%;
      left: .1em;
      position: absolute;
      width: 1.6em;
      }
    }
}
