/* Homepage styles */

.header-wrap {
    position:relative;
    z-index: 2;
    border-bottom:1px solid $primary-color;
    margin-top: 2rem;
}

.mtm-landing-home {
  /* Slideshow block styles */
  @media #{$medium-up} {margin-top:-7rem;}
  .hero-block-fields, .field-node--field-hero-block {
    .field-block-content--field-first-line, .field-block-content--field-second-line, .field-block-content--field-hero-link {
    }
    .field-block-content--field-first-line {
      font-size: rem-calc(50px);
      @media #{$small-only} {
          font-size: rem-calc(20px);
      }
    }
    .field-block-content--field-second-line {
      font-size: rem-calc(25px);
      @media #{$small-only} {
          font-size: rem-calc(20px);
      }
    }
    .field-block-content--field-hero-link {
      font-size: rem-calc(25px);
      @media #{$small-only} {
          font-size: rem-calc(20px);
      }
    }
  }
  .mgm-tools-slideshow {
    .field-name-field-hero-image img {
      @include filter(sepia, 1);
    }
      .hero-block-fields {
          position: absolute;
          top: 25%;
          height: rem-calc(350px);
          width: rem-calc(300px);
          color: $secondary-color;
          background-color: rgba($primary-color,.5);
          background-size: contain;
          background-repeat: no-repeat;
          width: 100%;
          @media #{$medium-only},#{$small-only} {
              height: inherit;
              left: 0;
              top: 0;
          }
          @media #{$medium-only} {
              padding-top: rem-calc(150px);
          }
      }
      .field-name-field-first-line {
          //font-size: rem-calc(30px);
          @media #{$small-only} {
              font-size: rem-calc(20px);
          }
      }
      .field-name-field-second-line {
          top: 50%;
          @media #{$medium-only},#{$small-only} {
              padding-top: 0;
          }
      }
      .field-name-field-hero-link {
          @media #{$medium-only},#{$small-only} {
              padding-top: rem-calc(5px);
          }
          a {
              @extend .button;
              @extend .alert;
              text-transform: uppercase;
          }
      }
  }
  /* This is the primary-region service promo HTML block */
  .homepage-service-promo {
      text-align: center;
      h3 {
          color: $charcoal;
          strong,b {
              color: $primary-alt-color;
          }
      }
      hr {
          margin: rem-calc(20px) auto rem-calc(50px);
          width: 70%;
          border-width: rem-calc(3px);
          border-color: $primary-alt-color;
      }
      figure {
          h4 {
              color: $primary-color;
              text-transform: uppercase;
              font-size: rem-calc(18px);
              margin-top: rem-calc(20px);
          }
          display: inline-block;
          vertical-align: top;
          margin: 0;
          padding: 0 rem-calc(30px) 0 rem-calc(30px);
          border-right: rem-calc(1px) solid $light-gray;
          @media #{$medium-only},#{$small-only} {
              border-right: none;
          }
          &:last-child {
              padding-right: 0;
              border-right: none;
              @media #{$small-only} {
                  padding-right: rem-calc(30px);
              }
          }
          &:first-child {
              padding-left: 0;
          }
      }
  }
  /* Article view theme */
  .homepage-articles {
      /* Format the title */
      .block-title {
          text-align: center;
          font-size: rem-calc(30px);
          font-weight: 200;
          padding: rem-calc(10px);
          margin-bottom: rem-calc(10px);
          background-color: $seafoam;
          position: relative;
          /* Add an arrow in the center(ish) of the div */
          &:after {
              top: 100%;
              left: 50%;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
              border-top-color: $seafoam;
              border-width: rem-calc(10px);
              margin-left: rem-calc(-10px);
          }
      }
      @media #{$medium-only},#{$small-only} {
          .views-row {
              margin-top: rem-calc(20px);
          }
      }
      .views-field-title {
          text-align: center;
          margin: rem-calc(20px);
          a {
              color: inherit;
          }
      }
      .views-field-body {
          margin-left: rem-calc(10px);
          a {
              color: $alert-color;
          }
      }
      .views-field-field-image {
          @media #{$medium-only},#{$small-only} {
              text-align: center;
          }
      }
  }
}

/* Article/Service node styles */

.node-article, .node-service {
  .field-name-field-image {
    img {
        width: 100%;
        @media #{$medium-up} {margin-top:rem-calc(-130px);}
    }
  }
  /* Float the edit buttons on the hero image */
  .tab-wrap {
    position: absolute;
    z-index: 1;
  }
  article {
    background-color: $background-color;
    padding: rem-calc(25px);
    position: relative;
    z-index: 1;
    .node-title {
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        margin-bottom: rem-calc(20px);
    }
  }
}

.field-name-field-icon-css {
  font-size: rem-calc(30px);
  height: rem-calc(30px);
  width: 60%;
  margin: 0 auto rem-calc(15px);
  @media #{$small-only} {
      top: 25;
      font-size: rem-calc(30px);
  }
  i {
    width: 22.5%;
    float:left;
    text-align: center;
  }
  .rule {
    background: url(../images/rule-gray.png) repeat-x 20%;
    width: 38.5%;
    float: left;
    height: rem-calc(30px);
  }
}

.services {
  &.services-block-text {
    text-align: center;
    .views-row {min-height: rem-calc(180);}
  }
  .views-field-field-subtitle {
    font-size: rem-calc(16); // size of h5
  }
}
.node-article {
  .field-name-body {
      margin: 0 rem-calc(30px) 0 rem-calc(30px);
  }
}

section[rel~="schema:comment"] {
    .filter-wrapper {
    display:none;
    }
    h2.field-label {
        font-size: 1.5em;
        margin-top: 20px;
        border-top: 1px solid #000;
         padding-top: 20px;
    }
    .field-items {
        font-size:1.3em;
        color:$secondary-color;
    }
}



/* Contact page styles */

.contact-hero {
    img {
        width: 100%;
    }
}
