/**
 * @file
 * This file is used to style the Footer promo block.
 */

.block-type-promo-block .field--type-image {
  padding-bottom: 14px;
}

.block-type-promo-block .block__title {
  font-size: 1.5rem;
  font-weight: 400;
}

.block-type-promo-block .promo-content {
}

.block-type-promo-block {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 1rem;
  color: #fff;
  background-color: rgba(119, 147, 26, 0.5);
  transition: background-color 0.5s ease;
}
.block-type-promo-block a {
  color: #fff;
  text-decoration: none;
}
.block-type-promo-block a:hover {
  text-decoration: none;
  color: #fff;
}
.block-type-promo-block .solid {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  height: 2em;
  background-color: rgba(119, 147, 26, 0.8);
  margin: -1rem -1rem 1rem;
}
.region-footer .block-type-promo-block {
  background-color: rgba(119, 147, 26, 0.8);
}
.region-footer .block-type-promo-block .solid {
  display:none;
}
#block-resume {
  background-color: rgba(74, 123, 173, 0.5);
}
#block-resume:hover {
  background-color: rgba(74, 123, 173, 0.8);
}
#block-ekklesia {
  flex: 0 1 45%;
  background-color: rgba(125, 30, 25, 0.5);
}
#block-ekklesia:hover {
  background-color: rgba(125, 30, 25, 0.8);
}
#block-academia {
  background-color: rgba(119, 147, 26, 0.5);
}
#block-academia:hover {
  background-color: rgba(119, 147, 26, 0.8);
}
#block-resume .solid {
  background-color: rgba(74, 123, 173, 0.8);
}
#block-ekklesia .solid {
  background-color: rgba(125, 30, 25, 0.8);
}
#block-academia .solid {
  background-color: rgba(119, 147, 26, 0.8);
}
.social-media-list {
  display: flex;
  flex-wrap: wrap;
}
.social-media-list p {
  flex: 0 1 45%;
}
@media screen and (min-width: 60rem) {
  .block-type-promo-block {
    overflow: hidden;
    /* font-size: 0.9rem; */
    text-align: center
  }

  .block-type-promo-block .field--type-image {
    float: left; /* LTR */
    margin-right: 14px; /* LTR */
    padding-bottom: 0;
  }

  [dir="rtl"] .block-type-promo-block .field--type-image {
    float: right;
    margin-left: 14px;
  }

  .block-type-promo-block .block__title {
  }
}
