
/* Add a generic full width rule for any element */
.full-width,.block-region-top {
  width: 100vw;
  left: calc(-50vw + 50%);
  position: relative;
  z-index: 0;
}

/*** Multi-Column Settings ***/
/* The primary region should float over the top region a bit */
.row.row-primary {
  position: relative;
  z-index: 1;
  padding: rem-calc(25px);
  @media #{$small-only} {
      margin-top: inherit;
  }
  div[class^='block-region-'] {}
}
.row.row-middle {
  padding: rem-calc(25px);
}
#block-pagetitle {
  text-align: center;
  h1 {
      text-transform: capitalize;
      font-family: merriweather;
  }
  .block-title {
      margin: 0;
  }
}
.field-name-field-hero-image {
  img {
      width: 100%;
  }
}

/* Generic hero block styles */
.hero-block {
  color: $background-color;
  a {
    color: $background-color;
    &:hover {
      color: $tertiary-color;
    }
  }
}
.hero-block-fields, .field-node--field-hero-block, .views-field-field-hero-block {
  color: $background-color;
  z-index: 100;
  .field-block-content--field-first-line, .field-block-content--field-second-line, .field-block-content--field-hero-link, .field-block-content--field-photo-credit {
    position: absolute;
    text-align: center;
    width: 100%;
    padding-right: $column-gutter + ($column-gutter * .25);
  }
  .field-block-content--field-first-line {
    top: 15%;
    width: 100%;
    margin: 0 auto;
    font-size: rem-calc(40px);
    @include text-shadow;
    text-align: right;
    text-transform: capitalize;
    @media #{$medium-only},#{$small-only} {
      padding-top: 0;
    }
    @media #{$small-only} {
      font-size: rem-calc(28px);
      top: rem-calc(16px);
    }
    @media #{$medium-only} {
    }
  }
  .field-block-content--field-second-line {
    top: 60%;
    font-size: rem-calc(25px);
    text-align: right;
    @include text-shadow;
    @media #{$medium-only},#{$small-only} {
      padding-top: 0;
    }
    @media #{$small-only} {
      top: rem-calc(70px);
      font-size: rem-calc(12px);
    }
    @media #{$medium-only} {
    }
  }
  .field-block-content--field-hero-link {
    top: 80%;
    font-size: rem-calc(25px);
    @media #{$small-only} {
        top: 50%;
        font-size: rem-calc(20px);
    }
  }
  .field-block-content--field-photo-credit {
    bottom: 1%;
    text-align: left;
    padding-left: $column-gutter;
    font-size: rem-calc(12px);
    padding-bottom: $column-gutter/2;
    p {margin-bottom: 0;}
    a {color: $background-color;}
    @media #{$small-only} {
      display:none;
    }
  }
  .field-block-content--field-image {
    img {
      margin: 0 0 1rem 0;
      width: 100%;
    }
  }
}
/* Hero blocks as Node Headers */
.field-node--field-hero-block {
  .field-block-content--field-first-line {
    @media #{$medium-only},#{$small-only} {
      font-size: rem-calc(35px);
      top: rem-calc(30px);
      padding-top: 0;
    }
    @media #{$small-only} {
    }
    @media #{$medium-only} {
    }
  }
}
/* Generic slideshow style */
.mgm-tools-slideshow {
  .slick-slide {
    position: relative;
    min-height: 10rem;
    img {
      padding: 0;
      margin: 0;
    }
  }
  .slick-dots {
    position: absolute;
    bottom: rem-calc(30px);
    width: 100%;
    text-align: center;
    margin: 0;
    @media #{$small-only} {
      display: none !important;
    }
    li {
      display: inline-block;
      padding-right: rem-calc(20px);
      &:last-child {
          padding-right: 0;
      }
    }
    button {
      height: rem-calc(20px);
      width: rem-calc(20px);
      padding: rem-calc(5px);
      border-radius: rem-calc(10px);
      color: transparent;
      background-color: $primary-color;
    }
    .slick-active {
      button {
          background-color: $primary-alt-color;
      }
    }
  }
}
