/**
 * @file
 * This file is used to style the header.
 *
 * It styles the header as a global component; it does not style individual
 * header items, such as a menu, which are styled by their own CSS files.
 */

.layout-header {
  padding: 0;
  background: #fff;
}

.region-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
}
.background-chiro {
  background-attachment: fixed;
  background-image: url(../../../../images/chi.jpg);
  background-size: cover;
  border-bottom: 1px solid #301b11;
  border-top: 1px solid #301b11;
}
.layout-sub-header {
  padding-top: 5rem;
  padding-bottom: 2rem;
}
.region-sub-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (min-width: 48em) {
  .region-header {
    padding: 0 1rem;
  }
}

/* 77em == the max width of .container + 1em either side */
@media screen and (min-width: 77em) {
  .region-header {
    padding: 0;
  }
}
